.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.all-recipes-header {
  color: white;
  background-color: #545353;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  align-self: center;
}

.all-recipes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #403e3e;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
}

.welcome-header {
  font-size: 40px;
  color: white;
}

.reveal-breakfast-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reveal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.reveal-button-container:hover {
  transform: scale(1.08);
}

/* Targeting all children of reveal-button-container */
.reveal-button-container * {
  transition: color 0.2s ease;
}

.reveal-button-container:hover * {
  color: #f99128;
}

.reveal-lists-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

.reveal-button {
  font-size: 48px;
  color: #ff8000;
  height: 80px;
  width: auto;
}

.reveal-button-text {
  margin-top: 5px;
  font-size: 18px;
  color: #ff8000;
}

.breakfast-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
  background: #403e3e;
  border-radius: 10px;
  margin-bottom: 100px;
}

.breakfast-container.visible {
  max-height: 1000px; /* Adjust this value based on your content's maximum height */
  opacity: 1;
}

.breakfast-content {
  padding: 20px;
}

@media screen and (max-width: 830px) {
  .all-recipes-header {
    text-align: center;
  }

  .all-recipes-container,
  .breakfast-container {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .home-page-container {
    margin-top: 30px;
  }
}
