.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-recipes-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
