.full-recipe-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-recipe-container {
  width: 550px;
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #444444;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
}

.full-recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reveal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reveal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.reveal-button-container:hover {
  transform: scale(1.08);
}

.reveal-button-container * {
  transition: color 0.2s ease;
}

.reveal-button-container:hover * {
  color: #f99128;
}

.reveal-button {
  font-size: 48px;
  color: #ff8000;
  height: 80px;
  width: auto;
}

.reveal-button-text {
  margin-top: 5px;
  font-size: 18px;
  color: #ff8000;
}

.recipe-ingredients,
.recipe-instructions {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
}

.recipe-ingredients.visible,
.recipe-instructions.visible {
  max-height: 1000px; /* Adjust this value based on your content's maximum height */
  opacity: 1;
}

.full-recipe-name {
  font-size: 20px;
}

.full-recipe-ingredient-list,
.full-recipe-instructions-list {
  padding-left: 20px;
}

.full-recipe-ingredient,
.full-recipe-instruction {
  margin-bottom: 10px;
}

@media screen and (max-width: 830px) {
  .full-recipe-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
